*{
    font-family: "Poppins";
    font-size: 23px;
    color: white;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.5);
}
.red{
    color: rgb(248, 6, 43);
}
.blue{
    color: rgb(52, 5, 238);
}
.out-put{
    text-align: right;
    margin: 80px 30px  0px;
    font-size: 2rem;
}
.calculator{
    width: 350px;
    height: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}
.keyboard{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(170, 76, 238);
    padding: 20px;
    height: 100%;
}
.keyboard-row{
    display: flex;
    gap: 15px;
}
.one-block{
    width: 25%;
    aspect-ratio: 1/1;
}
.two-block{
    width: calc(50% + 15px);
    aspect-ratio: 2/1;
}
